%default-header {
  font-family: $font-family-headers;
  font-size: $font-size-headers;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  color: $header-color;
  clear: right;

  @include responsive(mobile) {
    font-size: $font-size-headers-mobile;
  }
  @include responsive(tablet) {
    font-size: $font-size-headers-mobile;
  }
}

%default-content {
  font-family: $font-family-content;
  font-size: $font-size-content;
  font-weight: 400;
  margin-bottom: 0.5rem;

  @include responsive(mobile) {
    font-size: $font-size-content-mobile;
  }
  @include responsive(tablet) {
    font-size: $font-size-content-mobile;
  }
}

%default-subheader {
  font-family: $font-family-content;
  font-size: $font-size-subheaders;
  font-weight: 500;

  @include responsive(mobile) {
    font-size: $font-size-subheaders-mobile;
  }
  @include responsive(tablet) {
    font-size: $font-size-subheaders-mobile;
  }
}

%default-link {
  @extend %default-content;
  color: $link-color;
  text-decoration: underline;
}

%flex-container {
  display: flex;
}

%flex-column {
  flex-direction: column;
}

%flex-centered {
  justify-content: center;
}
