$font-family-headers: 'PT Sans', sans-serif;
$font-family-content: 'Zilla slab', serif;

$font-size-headers: 24pt;
$font-size-headers-mobile: 18pt;

$font-size-page-header: 40pt;
$font-size-page-header-mobile: 20pt;

$font-size-content: 14pt;
$font-size-content-mobile: 12pt;

$font-size-subheaders: 20pt;
$font-size-subheaders-mobile: 16pt;

$header-color: rgb(70, 70, 70);
$link-color: rgb(50, 96, 20);
$background-color: rgb(240, 240, 240);
$block-background-color: rgb(250, 250, 250);
